.dashboard-container {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  &.small {
    min-height: 120px;
    height: 200px;
  }
  .dashboard-content {
    width: 100%;
  }
  &.stats-container {
    min-height: 120px;
    height: 120px;
    text-align: center;
    [class^="ant-col"],
    [class*="ant-col"] {
      border-right: 1px solid #e6e6e6;
      height: 100%;
      margin-bottom: 0;
      padding: 0 10px;
      &:last-child {
        border-right: 0;
      }
      .number {
        font-size: 4.2em;
        font-weight: 100;
        color: #007aff;
        line-height: 1.3em;
        padding-top: 8px;
        letter-spacing: -0.06em;
        .icon {
          background: url(../../static/image/info-data-sprite.png) no-repeat left top;
          width: 50px;
          height: 38px;
          display: inline-block;
          vertical-align: top;
          margin: 20px 12px 0 0;
          &.visitors {
            background-position: -50px top;
          }
          &.money {
            background-position: -100px top;
          }
          &.chat-bubbles {
            background-position: -150px top;
          }
        }
      }
      .text {
        font-weight: 300;
        color: #999999;
      }
    }
  }
  &.area-chart {
    height: 427px;
  }
  &.weather {
    background: #5bc0de;
    color: white;
    min-height: 100px;
    height: 200px;
    .padded {
      padding: 0 10px 0 0;
    }
  }
}

.layout-content {
  box-sizing: border-box;
  margin: 24px 24px 0px;
  padding-top: 64px;
  .content-wide {
    margin: 0px auto;
    width: 100%; // max-width: 1200px;
  }
  .chart-box-head {
    padding: 10px;
    background-color: red;
  }
  .chart-box-footer {
    border-top: 1px solid #e8e8e8;
    padding-top: 9px;
    margin-top: 8px;
  }
}