.navbar {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  padding: 0;
  min-height: 45px;
  height: 112px;
  width: 100%;
  border: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;


  &.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
  }

  &.scroll-hide {
    &.closed {
      top: -45px;
    }
  }

  .container-fluid {
    height: 46px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px 0 20px;
    width: 100%;
    float: left;

    &.top-bar {
      .logo {
        background: no-repeat 0 0;
        width: 54px;
        height: 16px;
        float: left;
        text-indent: -9999em;
        margin: 14px 10px 0 0;
      }

      .ul-nav {
        height: 100%;
        position: relative;
        z-index: 100;
        overflow: hidden;

        >li {
          height: 100%;
          margin-right: 5px;
          float: left;

          >a {
            display: block;
            height: 45px;
            line-height: 25px;
            padding: 8px 10px 9px;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
          }

          &:hover {
            background-color: #eeeeee;
          }

          &.user {
            width: auto;
            margin-left: 5px;
            margin-right: 0;

            >a {
              padding: 8px 10px 6px;
              color: #999999;

              .ant-avatar-image {
                margin-right: 8px;
              }
            }
          }

          &.open {
            >a {
              background-color: #eeeeee;
            }
          }

          &.has-font {
            .anticon {
              display: block;
              width: 28px;
              height: 28px;
              font-size: 28px;
              color: #999999;
            }
          }

          &.message {
            >a {
              padding: 10px 10px 9px;
            }
          }
        }

      }
    }



    &.main-nav {
      height: 66px;
      min-height: 66px;
      float: left;
      width: 100%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      .nav-collapse {
        width: 100%;
        height: inherit;
        display: flex;

        ul.nav {
          text-align: center;
          width: 100%;
          height: 100%;
          margin: 0;

          >li {
            float: none;
            display: inline-block;
            text-align: center;
            margin: 0 6px;
            height: 100%;
            position: relative;

            button {
              display: block;
              height: 100%;
              text-align: center;
              padding: 10px 15px 9px;
              font-size: 12px;
              font-weight: 400;
              color: #999999;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s;
              text-decoration: none;
              &.ant-dropdown-trigger{
                span{
                  .anticon-bars{
                    font-size: 28px;
                  }
                }
              }
              &:hover {
                background: rgba(0, 0, 0, 0.04);
              }

              &.current {
                color: #007aff;
              }

              span {
                font-size: 28px;
                width: 28px;
                height: 28px;
                display: block;
                margin: 0 auto 2px;

                i.anticon {
                  vertical-align: 0;
                }
              }

              .caret {
                margin-left: 6px;
                margin-right: -6px;
                border-top-color: #999999;
              }
            }
          }
        }

        .ant-menu-horizontal {
          display: flex;
          height: 100%;
          line-height: 66px;
          border-bottom: 0 none;
          justify-content: center;
        }

        .ant-menu-light {
          li.ant-menu-horizontal>.ant-menu-submenu {
            // vertical-align: middle;
            // border-bottom: 0 none;
          }
        }
      }
    }
  }

}

.ul-nav:before,
.ul-nav:after {
  display: table;
  content: " ";
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}