.react7-search-form {
  .ant-advanced-search-form {
    padding: 24px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  .ant-advanced-search-form .ant-form-item {
    display: flex;
  }
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }
}

.react-table {
  background: #fff;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.perpage-head {
  margin-bottom: 30px;
  color: #fff;
  background-color: #fff;
  padding: 22px 20px;
  border-bottom: 1px solid #dddddd;
  &:before {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  h1 {
    margin: 0;
    color: #222222;
  }
  .pull-left,
  .pull-right {
    margin-top: 0;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
    .breadcrumb {
      margin-bottom: 0;
      padding: 8px 15px;
      margin: 0 0 20px;
      list-style: none;
      background-color: transparent;
      border-radius: 4px;
      >li {
        display: inline-block;
      }
    }
  }
}