@import './var.scss';
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  border: 0;
  padding: 0;
  transition: all 0.3s;
  &.scroll-hide {
    &.closed {
      top: -64px;
    }
  }
}

.header-navbar {
  width: 100%;
  transition: background 0.3s, width 0.2s;
  height: 64px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  background-color: #2494f2;
  color: #fff;
  padding-left: 10px;
  padding-right: 25px;
  box-sizing: border-box;
  .navbar-container {
    margin: 0 auto;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    .navbar-title {
      padding-left: 35px;
      text-align: left;
      width: 206px;
      color: #fff;
      background: url(./images/logo.png) no-repeat 0 18px;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
      font-weight: 300;
      font-size: 19px;
      line-height: 64px;
      overflow: hidden;
      height: auto;
      h1 {
        display: inline-block;
        font-size: 20px;
        color: #fff;
        margin: 0;
      }
    }
    .navbar-menu {
      // 修改ant的导航栏
      .ant-menu {
        &.nav-menu-custom {
          background-color: transparent;
          color: #fff;
          overflow: hidden;
          &.ant-menu-horizontal {
            line-height: 1;
          }
          li.ant-menu-item {
            height: 64px;
          }
          .ant-menu-submenu.ant-menu-submenu-horizontal {
            height: 100%;
            .ant-menu-submenu-title {
              height: 100%;
              padding: 8px 20px;
            }
          }
          &.ant-menu-horizontal>.ant-menu-item:hover,
          &.ant-menu-horizontal>.ant-menu-submenu:hover,
          &.ant-menu-horizontal>.ant-menu-item-active,
          &.ant-menu-horizontal>.ant-menu-submenu-active,
          &.ant-menu-horizontal>.ant-menu-item-open,
          &.ant-menu-horizontal>.ant-menu-submenu-open,
          &.ant-menu-horizontal>.ant-menu-item-selected,
          &.ant-menu-horizontal>.ant-menu-submenu-selected {
            background-color: #36a3ff;
            color: #fff;
            border: 0 none;
          }
          .ant-menu-item:hover,
          .ant-menu-item-active,
          .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
          .ant-menu-submenu-active,
          .ant-menu-submenu-title:hover {
            color: #fff;
          }
        }
      }
    }
    .nav-right-menu {
      .action {
        cursor: pointer;
        padding: 0 12px;
        display: inline-block;
        transition: all 0.3s;
        height: 100%;
        color: $text-color;
        >i {
          vertical-align: middle;
        }
        &:hover {
          background: red;
        }
        &.ant-popover-open {
          background: red;
        }
      }
      .account {
        .avatar {
          margin: 20px 8px 20px 0;
          color: black;
          background: rgba(255, 255, 255, 0.85);
          vertical-align: top;
        }
      }
    }
  }
}

.noticeButton {
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}

.icon {
  padding: 4px;
}

.popover {
  width: 336px;
  .ant-popover-inner-content {
    padding: 5px;
  }
}

.tabs {
  &.ant-tabs-nav-scroll {
    text-align: center;
    .ant-tabs-bar {
      margin-bottom: 4px;
    }
  }
}

.notFound {
  text-align: center;
  padding: 73px 0 88px 0;
  color: red;
  img {
    display: inline-block;
    margin-bottom: 16px;
    height: 76px;
  }
}

.list {
  max-height: 400px;
  overflow: auto;
  .item {
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
    .meta {
      width: 100%;
    }
    .avatar {
      background: #fff;
      margin-top: 4px;
    }
    .iconElement {
      font-size: 32px;
    }
    &.read {
      opacity: 0.4;
    }
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background: red;
    }
    .title {
      font-weight: normal;
      margin-bottom: 8px;
    }
    .description {
      font-size: 12px;
      line-height: 1;
    }
    .datetime {
      font-size: 12px;
      margin-top: 4px;
      line-height: 1;
    }
    .extra {
      float: right;
      color: red;
      font-weight: normal;
      margin-right: 0;
      margin-top: -1.5px;
    }
  }
}

span.isblock {
  .anticon {
    font-size: 28px;
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto 5px;
  }
}