.home-main {
  width: 100%;
  padding-top: 130px;
  &:after {
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
  }
  .ant-layout{
    background-color: inherit;
  }
  .per-page{
    background-color: inherit;
    .padding-lr10{
      box-sizing: border-box;
      padding: 0 10px;
    }
    .margin-b20{
      margin-bottom: 20px;
    }
  }
}